*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fa-bars{
    display: block;
}
.list{
    display: none;
}
.logo{
    width: 55px;
    height: 55px;
    margin-top:15px ;
    padding:20px;
margin-left:48px;
}

.box{
    width:60vw;
    height:70vh;
    background-color:hsl(207,33%,95%);
    border-radius: 50px;
    display: inline-block;
    position:absolute;
    top:-56px;
    left:260px;
    z-index:0;
}
.mobimg{
    width:80vw;
    height:40vh;
    position: absolute;
    top:80px;
    left:160px;
    z-index:1;
}
.fa-bars{
    width:70px;
    height:50px;
    font-weight: lighter;
    position: absolute;
    top:30px;
    left:276px;
    z-index:1
}
.new{
    width:50px;
    height:25px;
    background-color: black;
    color: white;
    position: absolute;
    top:440px;
    left:49px;
    border-radius: 20px;
    border: 0;
}
.mono{
    color: hsl(231,7%,65%);
    font-family: 'Trirong', serif;
    /* font-family: 'Cormorant Garamond', serif; */
    position: absolute;
    top:444px;
    left:109px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size:12px;
}
.power{
    position: absolute;
    top:477px;
    left:4px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-left: 50px;
}
.plan{
    position: absolute;
    top:560px;
    left:54px;
    /* font-family: 'Trirong', serif; */
    color: hsl(231,7%,65%);
    font-size: 16px;
    display: inline-block;
}
button{
    width:36vw;
    height: 5vh;
    border-radius: 5px;
    position: absolute;
    top:610px;
    left:50px;
    background-color:hsl(0,100%,68%); ;
    color: honeydew;
    border: 1px solid hsl(0,100%,68%);
    font-size: 10px; 
    /* font-family: 'Trirong', serif; */
    font-weight: bold;

}
P{
    position: absolute;
    top:600px;
    left:200px;
    color: hsl(231,7%,65%);
    font-size: 12px;
    font-family: 'Trirong', serif;
    font-weight: lighter
}
.deskimg{
    display:none;
}
@media screen and (min-width:1044px) {
    .mobimg{
        display:none;
    }
    .fa-bars {
        display:none;
    }
    .deskimg{
        width:60vw;
        height: 50vh;
        display:inline-block;
        position: absolute;
        top:160px;
        left: 810px;
        z-index:1
    }
    
    .logo{
        margin:20px;
        padding:20px;
        width:60px;
        height:60px;
    }
    .box{
        width:55vw;
    height:56vh;
    background-color:hsl(207,33%,95%);
    border-radius: 50px;
    display: inline-block;
    position:absolute;
    top:-100px;
    left:800px;
    z-index:0;
   }
   .new{
    width:50px;
    height:25px;
    background-color: black;
    color: white;
    position: absolute;
    top:180px;
    left:49px;
    border-radius: 20px;
    border: 0;
}
.mono{
    color: hsl(231,7%,65%);
    font-family: 'Trirong', serif;
     position: absolute;
    top:182px;
    left:109px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size:12px;
}
.power{
    position: absolute;
    top:210px;
    left:4px;
    font-family: 'Bebas Neue', cursive;
   
    font-size: 50px;
    margin-left: 50px;
}
.plan{
    position: absolute;
    top:350px;
    left:54px;
    /* font-family: 'Trirong', serif; */
    color: hsl(231,7%,65%);
    font-size: 16px;
    display: inline-block;
}
button{
    width:15vw;
    height: 5vh;
    border-radius: 5px;
    position: absolute;
    top:430px;
    left:50px;
    background-color:hsl(0,100%,68%); ;
    color: honeydew;
    border: 1px solid hsl(0,100%,68%);
    font-size: 10px; 
    /* font-family: 'Trirong', serif; */
    font-weight: bold;

}
P{
    position: absolute;
    top:435px;
    left:300px;
    color: hsl(231,7%,65%);
    font-size: 12px;
    font-family: 'Trirong', serif;
    font-weight: lighter
}ol{
    list-style: none;
  
}
    .list{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        display: flex;
        /* justify-content:space-between; */

        position: absolute;
        top:20px;
        left:850px;
        z-index:1;
        
    } 
   .head{
      padding: 40px;
      
   }
   .head1{
    padding-left: 40px;
    padding-top: 40px;
    color:grey;
   }
}